/* common style */
* {
    font-family: Lato;
}

.btn-primary {
    border-radius: 8px;
    border: 0;
    background: #E55473;
    padding: 20px 43px;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 20px;
}

.primary-color {
    color: #E55473;
}

/* navigation styles */
nav {
    display: flex;
    justify-content: space-around;
    background-color: #ecdee0;
    padding: 30px;
    border-radius: 15px;
}

.logo {
    margin-right: 90px;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav>ul>li>a {
    text-decoration: none;
    color: black;
}

nav>ul>li {
    font-size: 20px;

    font-weight: 400;
}

li:hover {
    background-color: rgb(247, 247, 222);
}

/* added header style */

.header {
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-evenly;
}


.flower-title {
    font-size: 80px;
    font-weight: 800;
    color: #272727;
    margin-bottom: 32px;
}

.flower-sub {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;

}

.flower-intro-img {
    margin-left: 97px;
    margin-top: 50px;
}

/* added feature styles */
.feature-items {
    display: flex;
    gap: 20px;
    padding: 48px 240px;
}

.feature-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 178px;
}

.feature-sub {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.feature-item1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    text-align: center;
}

.feature-item2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    text-align: center;
}

.feature-item3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    text-align: center;
}

.feature-item1>img {
    padding: 110px 78px 67px 76px;

}

.feature-item2>img {
    padding: 118px 47px;
}

.feature-item3>img {
    padding: 67px 75px;
}

.font-color {
    color: black;
    padding-top: 32px;
}

/* support section style */

.support {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1440px;
    height: 320px;
    margin: 128px auto;
}

.support-items {
    display: flex;
    padding: 70px;
    justify-content: space-evenly;
    text-align: center;
}

/* offer section styles */
.offer {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.offer-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.offer-item1 {
    padding: 60px;
    text-align: center;
}

.offer-title {
    font-size: 40px;

    font-weight: 800;
}

.offer-description {
    color: rgba(39, 39, 39, 0.60);

    font-size: 18px;

    font-weight: 400;
}


.offer-img {
    width: 318px;
    height: 420px;
    padding: 60px;
}


/* added social styles */
.social {
    margin: 128px 0;
    text-align: center;

}

.social-title {
    color: #272727;

    font-size: 40px;

    font-weight: 800;

}

.social-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}


.social-images {
    display: flex;
    gap: 24px;
    justify-content: center;

}

/* deal section styles */
.deal {
    background-image: url(/assests/images/pic13.png);
    width: 1440px;
    height: 449px;
    margin: 0 auto;
}

.deal-items {
    text-align: center;
    padding-top: 122px;
}

.deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.deal-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.email {
    width: 700px;
    height: 55px;
    margin-right: 16px;
}

/* added footer style */

footer {
    background-color: #111010;
    margin-top: 128px;

}

.footer-section {
    color: white;
    text-align: center;
    padding-top: 210px;
    padding-bottom: 210px;
}

.footer-title {
    font-size: 48px;
    font-weight: 800;
}

.footer-description {
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.90);
}

.copyright {
    color: rgba(255, 255, 255, 0.40);

    font-size: 16px;

    font-weight: 400;
    margin-top: 32px;

}